<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="\static\css\index.css">

    {% block head %}

    {% endblock %}
    <title>
        CodeSpace
    </title>

</head>

<body style="background-color: black; color: white; padding: 0% 5% 0% 5%;">
    {% block body %}
    <br><br>
    <h2 style="text-align: center;">Enter the starting year, month number and number of days</h2>
    <h4>Keep the number of days large enough between 1000 - 100000 so to get a better visualization.</h4>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="uploadfileform">
            {% load widget_tweaks %}
            <div class="formPart">
                <label for="{{ form.initial_year.id_for_label }}">Initial Year</label>
                {{ form.initial_year }}
                {{ form.initial_year.errors }}
            </div><br>
            <div class="formPart">
                <label for="{{ form.initial_month.id_for_label }}">Initial Month</label>
                {{ form.initial_month }}
                {{ form.initial_month.errors }}
            </div><br>
            <div class="formPart">
                <label for="{{ form.number_of_days.id_for_label }}">number_of_days</label><br>
                {{ form.number_of_days|add_class:"fileDescription" }}
                {{ form.number_of_days.errors }}
                <br><br>
            </div>
            <div class="formPart">
                <label for="{{ form.plot_ssb_type.id_for_label }}">Plot Type</label>
                {{ form.plot_ssb_type }}
                {{ form.plot_ssb_type.errors }}
            </div><br>
        </div>
        <input class="uploadFile" type="submit" name="submit" value="submit">
    </form>
    <br>
    <br>
    <br>

    <!------------------------------------ Plotting div ---------------------------------------->
    <h4>Distance between Solar System Barycentre with respect to the center of the Sun at initial time = {{ ssb_dist }} km</h4>
    <div id="plot_csv" style="margin-left: 7%;">
        {% autoescape off %}
        {{ plot_html }}
        {% endautoescape %}
    </div>
    <!------------------------------------ Plotting div END ------------------------------------>

    {% endblock %}
</body>

</html>